* {
    box-sizing: border-box;
}

.tomato a {
    text-decoration: none;
    color: orange;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 89px;
    border: 1px solid orange;
    border-radius: 25px;
    padding: 15px 25px;
    margin-top: 50px;
    background-color: rgb(111, 143, 49);
    position: relative;

}

.tomato a:hover {
    background-color: rgb(171, 204, 104);
    color: rgb(173, 117, 12);
}

nav {
    margin-top: 50px;

}

.h1 {
    text-align: center;
    margin-top: 50px;
    color: olive;
    font-size: 55px;
}

.pmain {
    font-size: 22px;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 25px;


}

img {
    height: 400px;
    width: 600px;
    margin: 50px;
    margin-left: 170px;
    border-radius: 25px;
}

.carrot h2 {
    font-size: 35px;
    margin-left: 25px;
    color: olive;
    font-weight: 800;

}

.carrot p {
    font-size: 22px;
    margin-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(155, 104, 11);
    text-align: justify;
}

.apple h2 {
    font-size: 35px;
    margin-left: 500px;
    color: olive;
    font-weight: 800;
}

.apple p {
    font-size: 22px;
    margin-left: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(155, 104, 11);
    text-align: justify;
}

.ccc h2 {
    font-size: 35px;
    margin-left: 850px;
    color: olive;
    font-weight: 800;
}

.ccc p {
    font-size: 22px;
    margin-left: 850px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(155, 104, 11);
    text-align: justify;
}

.cherry h2 {
    font-size: 35px;
    margin-left: 1200px;
    color: olive;
    font-weight: 800;
}

.cherry p {
    font-size: 22px;
    margin-left: 1200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(155, 104, 11);
    text-align: justify;
}

.final p {
    color: olive;
    font-size: 22px;
    margin-top: 50px;
    text-align: justify;
    margin-left: 35px;
}

form {
    display: block;
    text-align: center;
    border: 1px solid olivedrab;
    background-color: rgb(247, 190, 85);
}

form input {
    text-align: center;
    padding: 10px 55px;

    border: 2px solid olivedrab;
    border-radius: 15px;
}

.name p {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: rgb(70, 70, 12);
}

.name input {
    margin: 0 auto;
}

.password p {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: rgb(70, 70, 12);
}

.potato-img img {
    height: 500px;
    margin-left: 200px;
    border: 2px solid olive;
    border-radius: 25px;

}

q {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    text-align: justify;
    color: rgb(138, 101, 51);
    font-weight: 600;
    padding-left: 50px;
    margin-top: 50px;
    text-shadow: 0 0 25px rgb(119, 119, 18);

}

.potato {
    color: olive;
    font-size: 25px;
    text-align: justify;
    margin: 15px;

}

table {
    border: 5px solid olive;
    padding: 35px 35px;
    text-align: center;
    margin-left: 440px;
    text-shadow: 0 0 25px rgb(227, 227, 215);
}

td {
    border: 3px solid olive;
    padding: 55px 70px;
    margin: 50px;
    font-size: 30px;
    color: orange;
    border-radius: 10px;
    background-color: rgb(232, 232, 114);
    font-weight: 700;
}

td:hover {
    background-color: rgb(116, 116, 7);
    color: rgb(234, 192, 114);
}

.butterr {
    color: olive;
    font-size: 25px;
    text-align: justify;
    margin: 15px;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carrot-img img {
    height: 700px;
    width: 1830px;
    margin: 0 auto;
}

.carrot p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}

.carrot-button button {
    border: 2px solid olive;
    padding: 45px 80px;
    color: olive;
    font-size: 25px;
    border-radius: 45px;
    background-color: orange;
    font-weight: 700;
    box-shadow: 0 0 25px olive;
}

.carrot-button {
    text-align: center;
}

.carrot-button button:hover {
    background-color: olive;
    border: 2px solid orange;
    color: orange;
    box-shadow: 0 0 100px rgb(231, 231, 9);
}

.onion button {
    color: gray;
    padding: 50px 100px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
    border: 2px solid gray;
    background-color: gold;
    margin-top: 50px;
    transition-property: all;
    transition-duration: 2500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 10ms;
}

.onion button:hover {
    background-color: rgb(174, 127, 8);
    color: whitesmoke;
    border: 3px dotted white;
    border-radius: 50px;
    box-shadow: 0 0 50px burlywood;
    transform: rotate(360deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.onion {
    text-align: center;
    margin-top: 60px;
}


.tr button {
    margin-left: 440px;
}



.tr {
    margin-top: 100px;
}

.broad {
    border: 2px solid red;
    background-color: rgb(229, 66, 66);
    border-radius: 5px;
    padding: 100px 100px;
    margin-top: 100px;
    margin-left: 200px;


    font-weight: 600;
    color: aliceblue;

    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition-property: all;
    transition-duration: 1500ms;
    transition-timing-function: ease-out;
    transition-delay: 0ms;
}

.broad:hover {
    border-radius: 150px;
    border: 2px solid green;
    font-weight: 600;
    background-color:  rgb(116, 179, 22);
    color: aliceblue;

    transform: rotate(180deg);
}

.butter {
    padding: 100px 100px;
    margin-top: 100px;
    margin-left: 200px;
    border-radius: 150px;
    border: 2px solid green;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(116, 179, 22);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;


    transition-property: all;
    transition-duration: 1500ms;
    transition-timing-function: ease-out;
    transition-delay: 0ms;
}
.butter:hover{
    border: 2px solid red;
    background-color: rgb(229, 66, 66);
    border-radius: 5px;
    transform: rotate(180deg);
}


form inputtt{
    margin-top: 150px;
    background-color: white;
    border: none;
}